@import "vars";

.App {
    header {
        background-color: $white;
        box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);

        h1 {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    footer {
        height: 200px;
        background-color: $black;
    }
}